ul.menu > li .content {
    padding: 2em 1em;
    overflow: auto;
    -webkit-column-count: 1;
    -moz-column-count: 1;
}
ul.footer {
    top: 0;
    bottom: auto;
    padding: 0 1em;
}
ul.footer > li .content {
    display: none;
    position: absolute;
    bottom: auto;
}
ul.main > li:hover > h2 {
    background: #a00;
}
ul.main > li.active > h2 {
    background: #a00;
    color: #fff;
}

ul.main > li.active {
    border-bottom: 1px solid #a00;
}
