html {
    font-size: 66%;
    font-family: "Droid Serif", Cambria, Georgia, serif;
}
html, body, #all {
    height: 100%;
}
html * {
    margin: 0;
    padding: 0;
    font-size: 100%;
}

#all {
    min-width: 320px;
    max-width: 480px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    background: url(../images/mr.png) no-repeat bottom right;
}
ul {
    list-style: none;
}
ul > li > h2 {
    font-size: 3em;
    line-height: 1.5em;
    cursor: pointer;
}
ul.main {
    padding-top: 5em;
}
ul.main > li:hover > h2 {
    background: url(../images/hands-hover.png) no-repeat center left;
}
ul.main > li.active > h2 {
    background: url(../images/hands-active.png) #a00 no-repeat center left;
    color: #fff;
}
ul.footer {
    background-color: #fff;
    top: 0;
    bottom: auto;
    padding-bottom: 1em;
    position: absolute;
    text-align: left;
    width: 100%;
}
ul.footer li {
    float: left;
    margin-right: 1em;
}
ul.footer li > h2 {
    font-size: 1em;
    line-height: 3em;
}
ul.menu > li .content {
    height: auto;
    overflow: hidden;
    text-align: left;
    padding: 2em 0 2em;
    font-size: 1.4em;
    line-height: 1.4em;
    -webkit-column-count: 2;
    -webkit-column-width: 40%;
    -webkit-column-gap: 2em; 
    -moz-column-count: 2;
    -moz-column-width: 40%; 
    -moz-column-gap: 2em; 
}
ul.menu > li .one-column {
    -webkit-column-count: 1;
    -moz-column-count: 1;
}
ul.footer > li .content {
    display: none;
    position: absolute;
    left: 0;
    padding: 1em 1em 1em;
    width: 95%;
    border: 1px solid #acacac;
    background-color: #f1f1f1;
    opacity: 0.99;
}
ul.footer > li:hover .content {
    display: block;
}
ul.menu > li .content img {
    float: left; 
    margin:  1ex 1em 0 0;
}
ul.menu > li .one-column img {
    float: none; 
    margin:  1ex 1em 0 0;
}
ul.menu > li .content p {
    display: inline;
}
ul.menu > li .content p br {
    display: inline;
}

p.inline:before {
     content: "\0020 \0020 \0020 \00B6 \0020"; 
     color: #a60808;
}

ul.menu > li .content p:first-child {
    font-size: 1.0em;
    font-weight: bold;
    display: block;
    padding-bottom: 1em;
}
pre {
    padding: 1.4em 1em 1em 0;
    font-size: 1.2em;
    line-height: 1.4em;
}
ul.menu > li .content ul, dl {
    padding: 1.4em 1em 1em 0;
}
dt {
    margin: 2em 0 1em 0;
}
a:link, a:visited, a:hover, a:active {
    color: #000;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px dotted #e0b9b9;
}
a:hover {
    color: #ce0909;
}
a:active {
    color: #aa0000;
}

@media only screen and (max-device-width: 480px){
    ul.menu > li .content {
	padding: 2em 1em;
	overflow: auto;
	-webkit-column-count: 1;
	-moz-column-count: 1;
    }
    ul.footer {
	padding: 0 1em;
    }
    ul.footer > li .content {
	display: none;
	position: absolute;
	bottom: auto;
    }
    ul.main > li:hover > h2 {
	background: #a00;
    }
    ul.main > li.active > h2 {
	background: #a00;
	color: #fff;
    }
    ul.main > li.active {
	border-bottom: 1px solid #a00;
    }
    #all {
	background-image: none;
    }
}